<% include partials/head %>
<form action="/upload" method="POST">
    <input name="Link" type="text" placeholder="URL">
    <br>
    <input name="Caption" type="text" placeholder="Caption">
    <br>
    <input type="submit" value="Submit">
</form>
<% include partials/foot %>